<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style/output.css" />
  </head>
  <body class="dark:bg-dark_bg">
    <div class="relative
                max-w-[1200px]
                min-h-[100vh]
                lg:flex
                m-auto
                gap-3
                py-[100px]
                ">

      <div class="lg:w-[66%]
                  py-[36px]
                  px-8
                  bg-white
                  bg-opacity-90
                  min-h-[100vh]
                  shadow-2xl
                  rounded-[25px]
                  lg:mr-4
                  mt-[38px]
                  dark:bg-dark-white-blur
                  ">
        <h3 class="text-center
                   text-[2rem] 
                   leading-[2.2rem] 
                   font-semibold 
                   text-primary
                   dark:text-dark_primary">
                   HTML&CSS</h3>
        <div class="mt-[50px]">
          <div class="flex 
                      items-center 
                      font-semibold 
                      text-[1.2rem]
                      mb-4">
            <div class="flex 
                        justify-start 
                        w-[40px] 
                        text-primary
                        dark:text-dark_primary">
              <i class="fa-regular fa-circle-question"></i>
            </div>
            <p class="dark:text-dark_primary">Question : </p>
            <p class="ml-4 font-normal dark:text-dark_primary">34</p>
          </div>

           <div class="flex 
                      items-center 
                      font-semibold 
                      text-[1.2rem]
                      mb-4">
            <div class="flex 
                        justify-start 
                        w-[40px] 
                        text-primary
                        dark:text-dark_primary">
              <i class="fa-regular fa-clock"></i>
            </div>
            <p class="dark:text-dark_primary">Time : </p>
            <p class="ml-4 font-normal dark:text-dark_primary">30 minutes</p>
          </div>

           <div class="flex 
                      items-center 
                      font-semibold 
                      text-[1.2rem]
                      mb-4">
            <div class="flex 
                        justify-start 
                        w-[40px] 
                        text-primary
                        dark:text-dark_primary">
              <i class="fa-regular fa-circle-check"></i>
            </div>
            <p class="dark:text-dark_primary">Require score : </p>
            <p class="ml-4 font-normal dark:text-dark_primary">30</p>
          </div>

          <p class="text-[1.2rem] leading-[2rem] text-gray-500 font-light">Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. 
            Culpa enim dolore sunt error dolorem 
            quisquam, neque tempore rem quia dicta 
            officia labore minima impedit natus, 
            at eaque ex nemo molestiae!
            Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. 
            Culpa enim dolore sunt error dolorem 
            quisquam, neque tempore rem quia dicta 
            officia labore minima impedit natus, 
            at eaque ex nemo molestiae!
            Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. 
            Culpa enim dolore sunt error dolorem 
            quisquam, neque tempore rem quia dicta 
            officia labore minima impedit natus, 
            at eaque ex nemo molestiae!</p>
        </div>

        <div class="flex
                    w-full
                    lg:w-[80%]
                    justify-around
                    m-auto
                    mt-[50px]
                    "   >
          <button class="outline-none
                            relative
                            text-center 
                            min-w-[160px] 
                            h-[48px] 
                            px-4 
                            bg-primary-color 
                            m-auto rounded-full 
                            text-white 
                            text-[1.1rem] 
                            transition-all 
                            duration-300 
                            ease-linear
                            after:content-['']
                            after:absolute
                            after:top-0
                            after:right-0
                            after:w-full
                            after:h-full
                            after:bg-[rgba(255,255,255,0.3)]
                            after:rounded-full
                            after:scale-x-0
                            after:transition-all
                            after:duration-300
                            after:origin-center
                            after:opacity-0
                            hover:after:scale-x-100
                            hover:after:opacity-100
                            dark:bg-dark-gradient"  >Start</button>
            <button id="info-test__btn-back"
                    class="outline-none
                          relative
                          text-center 
                          min-w-[160px] 
                          h-[48px] 
                          px-4 
                          border-[2px]
                          border-primary
                          text-primary
                          font-semibold
                          m-auto rounded-full 
                          text-[1.1rem] 
                          hover:after:scale-x-100
                          hover:after:opacity-100
                          hover:bg-primary-color 
                          hover:text-white
                          transition-all
                          duration-300
                          ease-in-out
                          dark:border-dark_primary
                          dark:text-dark_primary
                          dark:hover:bg-dark-gradient
                          dark:hover:text-white" 
                      >Back</button>
        </div>
      </div>

      <div class="
                  sticky   
                  shadow-2xl
                  rounded-[25px] 
                  h-fit
                  lg:w-[32%] 
                  top-[36px]
                  lg:top-[100px]
                  mt-9
                  lg:mt-0
                  right-0
                  pb-[50px]
                  pb-[24px]
                  min-h-[280px]
                  dark:bg-dark-white-blur
                 ">
        <div class="relative
                    flex
                    justify-center
                    items-center
                    w-full
                    h-[68px]
                    bg-primary
                    mb-8
                    text-[1.4rem]
                    text-white
                    font-semibold
                    rounded-full
                    dark:bg-dark_primary
                    " >
              <div  id="info-test__btn-comment"
                    class="w-[50%]
                          h-full
                          rounded-full 
                          flex 
                          justify-center 
                          items-center
                          cursor-pointer">
                  <div class="p-2">
                    <i class="fa-regular fa-comment"></i>
                  </div>
                  <p class="select-none
                  text-[1.2rem]
                  leading-[1.4rem]
                  font-semibold
                  mr-2
                  ">Comments</p>
              </div>
              <div  id="info-test__btn-ranking"
                    class="w-[50%]
                          h-full
                          rounded-full 
                          flex 
                          justify-center 
                          items-center
                          cursor-pointer">
                <div class="p-2">
                  <i class="fa-solid fa-ranking-star"></i>
                </div>
                    <p class="select-none
                    text-[1.2rem]
                    leading-[1.4rem]
                    font-semibold
                    mr-2
                    ">Ranking</p>
              </div> 
              <div  id="test-info__after-maker"
                    class="absolute
                          w-[50%]
                          h-full
                          rounded-full
                          top-0
                          left-0
                          bg-[rgba(225,255,255,0.3)]
                          transition-all
                          duration-200
                          ease-linear
                          translate-x-[100%]" >

              </div>  
              
        </div>

        <div  id="container-comments"
              class="px-4 opacity-[1] transition-opacity duration-300 ease-in-out">
          <div class="flex mb-4 gap-2 h-[36px]">
            <input type="text" class="appearance-none 
                                      outline-none 
                                      px-6 
                                      py-2 
                                      flex-1 
                                      rounded-full 
                                      border-[2px] 
                                      border-gray-300 
                                      focus:border-primary
                                      h-full"
                    placeholder="Enter comment ...">
            <button class="outline-none
            relative
            text-center 
            h-full
            px-4
            border-[2px]
            border-primary
            text-primary
            font-semibold
            m-auto rounded-full 
            text-[1.1rem] 
            hover:after:scale-x-100
            hover:after:opacity-100
            hover:bg-primary-color 
            hover:text-white
            transition-all
            duration-300
            ease-in-out
          dark:border-dark_primary
          dark:text-dark_primary
            dark:hover:bg-dark-gradient
          dark:hover:text-white">Send</button>
          </div>
          <div class="max-h-[400px] overflow-y-auto">
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit dark:bg-dark-white-light">
              <div class="flex justify-between items-center min-w-[200px]"> 
                <p class="select-none font-semibold text-[1.1rem] dark:text-white">
                  User 1
                </p>
                <span class="ml-3 text-[0.9rem] text-gray-500 font-thin italic dark:text-white"> 11:30 23th3</span>
              </div>
              <p class="leading-[1.4rem] dark:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <div class="flex justify-between items-center min-w-[200px]"> 
                <p class="select-none font-semibold text-[1.1rem]">
                  User 1
                </p>
                <span class="ml-3 text-[0.9rem] text-gray-500 font-thin italic"> 11:30 23th3</span>
              </div>
              <p class="leading-[1.4rem]">Lorem ipsum dolo</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 3
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 1
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 2
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolo</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 3
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 1
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 2
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolo</p>
            </div>
            <div class="bg-gray-200 py-2 px-6 rounded-[25px] mb-4 w-fit">
              <p class="select-none font-semibold text-[1.1rem]">
                User 3
              </p>
              <p class="leading-[1.4rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit.t! Lorem ipsum</p>
            </div>
          </div>
          
          
        </div> 

        <div  id="container-ranking"
              class="px-4 absolute top-[100px] w-full opacity-0 z-[-1] transition-all duration-200 ease-in-out">
          <div class="flex 
                      h-[50px] 
                      border-b-[1px] 
                      border-gray-300 
                      items-center
                      justify-between
                      px-4" >
            <div class="flex">
              <img src="/static/images/top1.png" alt="" 
                   class="w-[20px]">
              <p class="select-none 
                        text-[1.2rem] 
                        font-semibold
                        ml-4 dark:text-white">Tuan</p>
            </div>
            <div>
              <p class="select-none font-semibold dark:text-white">200</p>
            </div>
          </div>
          
           <div class="flex 
                      h-[50px] 
                      border-b-[1px] 
                      border-gray-300 
                      items-center
                      justify-between
                      px-4" >
            <div class="flex">
              <img src="/static/images/top2.png" alt="" 
                   class="w-[20px]">
              <p class="select-none 
                        text-[1.2rem] 
                        font-semibold
                        ml-4">Tuan</p>
            </div>
            <div>
              <p class="select-none font-semibold">200</p>
            </div>
          </div>

           <div class="flex 
                      h-[50px] 
                      border-b-[1px] 
                      border-gray-300 
                      items-center
                      justify-between
                      px-4" >
            <div class="flex">
              <img src="/static/images/top3.png" alt="" 
                   class="w-[20px]">
              <p class="select-none 
                        text-[1.2rem] 
                        font-semibold
                        ml-4">Tuan</p>
            </div>
            <div>
              <p class="select-none font-semibold">200</p>
            </div>
          </div>
        </div> 
      </div>
        <!---------------------------- Modal ------------------------------------>
    <div class="h-[100vh]
                w-full
                fixed
                bg-[rgba(0,0,0,0.3)]
                top-0
                left-0
                z-[1000]
                hidden">
      <div class="absolute
                  flex
                  flex-col
                  justify-between
                  items-center
                  z-[1001]
                  w-[450px]
                  min-h-[380px]
                  bg-white
                  top-[45%]
                  left-[50%]
                  translate-x-[-50%]
                  translate-y-[-50%]
                  rounded-[25px]
                  px-6
                  py-10" >
          <img src="/static/images/cup.png" 
               alt="" 
               class="w-[100px]
                      ">
          <div class="text-center">
            <p class="text-[1.2rem] leading[1.4rem] font-medium text-primary select-none">Congratulations </p>
            <p class="text-[1.2rem] leading[1.4rem] font-medium text-primary select-none">You get 50 / 100 points </p>
          </div>
          <div class="flex w-full justify-between mt-6">
            <button class="outline-none
                            relative
                            text-center 
                            min-w-[160px] 
                            h-[48px] 
                            px-4 
                            bg-primary-color 
                            m-auto rounded-full 
                            text-white 
                            text-[1.1rem] 
                            transition-all 
                            duration-300 
                            ease-linear
                            after:content-['']
                            after:absolute
                            after:top-0
                            after:right-0
                            after:w-full
                            after:h-full
                            after:bg-[rgba(255,255,255,0.3)]
                            after:rounded-full
                            after:scale-x-0
                            after:transition-all
                            after:duration-300
                            after:origin-center
                            after:opacity-0
                            hover:after:scale-x-100
                            hover:after:opacity-100"  >Back to list test</button>
            <button id="info-test__btn-back"
                    class="outline-none
                          relative
                          text-center 
                          min-w-[160px] 
                          h-[48px] 
                          px-4 
                          border-[2px]
                          border-primary
                          text-primary
                          font-semibold
                          m-auto rounded-full 
                          text-[1.1rem] 
                          hover:after:scale-x-100
                          hover:after:opacity-100
                          hover:bg-primary-color 
                          hover:text-white
                          transition-all
                          duration-300
                          ease-in-out" 
                      >Close</button>
          </div>
      </div>
    </div>
  </body>
</html>
