<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style/output.css" />
  </head>
  <body>
    <div class="relative
                max-w-[1200px]
                min-h-[100vh]
                flex
                flex-col-reverse
                lg:flex-row
                m-auto
                gap-3
                ">

      <div class="lg:w-[66%]
      pb-[36px]
                  px-8
                  bg-white
                  bg-opacity-90
                  min-h-[100vh]
                  shadow-2xl
                  rounded-[25px]
                  ">
        <div class="mb-8">
          <div class="px-6
                      py-3
                      mb-6">
            <p class="text-[1.1rem]
                      select-none 
                      leading-[1.4rem]
                      text-gray-700
                      font-semibold
                      font-thin italic" >
                      Câu 1 : Bà đó bả chết bả bay lên trời. Hỏi bà ấy chết năm bao nhiêu tuổi và tại sao bà ấy chết?
                      <span class="text-red-400">
                        (Select many answer)
                      </span>
            </p>
          </div>
          
            <div class="
                        flex
                        flex-col
                        w-full">
              <div >
                <input type="radio" 
                         name="1" 
                         id="1"
                         class="
                                hidden
                                peer">
                <label for="1" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      w-full
                                      rounded-[20px]
                                      shadow-xl
                                      bg-white
                                      bg-opacity-90
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      border-[3px]
                                      border-transparent
                                      hover:border-[#b4e0ff]
                                      peer-checked:border-[#b4e0ff]
                                      " 
                >73</label>
              </div>
  
  
              <div >
                <input type="radio" 
                         name="1" 
                         id="2"
                         class="
                                hidden
                                peer">
                <label for="2" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      w-full
                                      rounded-[20px]
                                      shadow-xl
                                      bg-white
                                      bg-opacity-90
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      " 
                >Lorem ipsum dolor sit aue id possimus nisi dolore debitis, 
                asperiores autem non, quae hic. Officia quia sint 
                consequuntur debitis aliquam?</label>
              </div>
  
              <div >
                <input type="radio" 
                         name="1" 
                         id="3"
                         class="
                                hidden
                                peer">
                <label for="3" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      w-full
                                      rounded-[20px]
                                      shadow-xl
                                      bg-white
                                      bg-opacity-90
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      " 
                >Lorem ipsum dolor sit aue id possimus nisi dolore debitis, 
                asperiores autem non, quae hic. Officia quia sint 
                consequuntur debitis aliquam?</label>
              </div>
            </div>          
  
          </div>

        <div class="mb-5">
          <div class="px-6
                      py-3
                      mb-6">
            <p class="text-[1.1rem]
                      select-none 
                      leading-[1.4rem]
                      text-gray-700
                      font-semibold" >
                      Câu 1 : Bà đó bả chết bả bay lên trời. Hỏi bà ấy chết năm bao nhiêu tuổi và tại sao bà ấy chết?
            </p>
          </div>
          <div class="flex
                      flex-col
                      ">
            <div class="
                        flex
                        flex-col
                        w-full">
              <div >
                <input type="checkbox" 
                         name="2" 
                         id="4"
                         class="
                                hidden
                                peer">
                <label for="4" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      w-full
                                      rounded-[20px]
                                      shadow-xl
                                      bg-white
                                      bg-opacity-90
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      " 
                >Lorem ipsum dolor sit aue id possimus nisi dolore debitis, 
                as?</label>
              </div>
  
  
              <div >
                <input type="checkbox" 
                         name="2" 
                         id="5"
                         class="
                                hidden
                                peer">
                <label for="5" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      w-full
                                      rounded-[20px]
                                      shadow-xl
                                      bg-white
                                      bg-opacity-90
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      " 
                >Lorem ipsum dolor sit aue id possimus nisi dolore debitis, 
                asperiores autem non, quae hic. Officia quia sint 
                consequuntur debitis aliquam?</label>
              </div>
  
              <div >
                <input type="checkbox" 
                         name="2" 
                         id="6"
                         class="
                                hidden
                                peer"
                          disabled>
                <label for="6" class="block
                                      w-full
                                      h-auto
                                      text-[1.1rem]
                                                select-none 
                                      leading-[1.4rem]
                                      cursor-pointer
                                      px-6
                                      py-3
                                      rounded-[20px]
                                      shadow-xl
                                    bg-white
                                      bg-opacity-90
                                    hover:border-[#b4e0ff]
                                      peer-checked:bg-primary-nav
                                    peer-checked:text-white
                                      mb-5
                                      hover:border-transparent
                                      bg-success-color 
                                      text-white
                                      border-none
                                      bg-failure-color
                                      " 
                >abc</label>
              </div>
            </div>          
  
          </div>
        </div>
      </div>

      <div class="relative
                  lg:sticky   
                  shadow-2xl
                  rounded-[25px] 
                  h-fit
                  lg:w-[32%] 
                  top-[36px]
                  lg:mt-9
                  right-0
                  pb-[50px]
                  mb-[50px]
                  mr-3
                  ml-3
                 ">
        <div class="flex
                    justify-center
                    items-center
                    w-full
                    h-[100px]
                    bg-primary
                    mb-8
                    text-[1.4rem]
                    text-white
                    font-semibold
                    rounded-tl-[25px]
                    rounded-tr-[25px]
                    " >
                  Information
        </div>
        <div class="px-8">        
          <div class="flex
                      mb-6" >
            <p class="text-[1.2rem] leading-[1.6rem] text-primary font-semibold">Name: </p>
            <p class="text-[1.2rem] leading-[1.6rem] text-gray-800 font-normal ml-2 truncate">Dang Anh Tuan</p>
          </div>
          <div class="flex
                      mb-6" >
            <p class="text-[1.2rem] leading-[1.6rem] text-primary font-semibold">Emai: </p>
            <p class="text-[1.2rem] leading-[1.6rem] text-gray-800 font-normal ml-2 truncate">dasdksajdkasjd@lkasdas;las.coasdjoas/p>
          </div>
          <div class="flex
                      mb-6" >
            <p class="text-[1.2rem] leading-[1.6rem] text-primary font-semibold">Test name: </p>
            <p class="text-[1.2rem] leading-[1.6rem] text-gray-800 font-normal ml-2 truncate">HTML Basic</p>
          </div>
          <div class="flex
                      mb-6" >
            <p class="text-[1.2rem] leading-[1.6rem] text-primary font-semibold">Time: </p>
            <p class="text-[1.2rem] leading-[1.6rem] text-gray-800 font-normal ml-2 truncate">60 minutes</p>
          </div>
          <div class="flex
                      mb-6" >

            <p class="text-[1.2rem] leading-[1.6rem] text-primary font-semibold">Time remaining: </p>
            <p class="text-[1.2rem] leading-[1.6rem] text-red-400 font-semibold ml-2 truncate tracking-widest">59:00</p>
          </div>
      </div>  
      <div class="flex
                  justify-center
                  items-center
                  w-full
                  mt-[50px]" >
        <button class="outline-none
                      relative
                      text-center 
                      min-w-[200px] 
                      h-[48px] 
                      px-4 
                      bg-primary-color 
                      m-auto rounded-full 
                      text-white 
                      text-[1.2rem] 
                      transition-all 
                      duration-300 
                      ease-linear
                      after:content-['']
                      after:absolute
                      after:top-0
                      after:right-0
                      after:w-full
                      after:h-full
                      after:bg-[rgba(255,255,255,0.3)]
                      after:rounded-full
                      after:scale-x-[0.2]
                      after:opacity-0
                      after:transition-all
                      after:duration-300
                      after:origin-center
                      hover:after:scale-x-100
                      hover:after:opacity-100
                      opacity-50
                      " 
                      
                      onclick="myFunction()">Submit</button>
      </div>

      <div class="flex
                  justify-center
                  items-center
                  w-full
                  mt-[24px]" >
        <button class="outline-none
                      relative
                      text-center 
                      min-w-[200px] 
                      h-[48px] 
                      px-4 
                      border-[2px]
                      border-primary
                      text-primary
                      font-semibold
                      m-auto rounded-full 
                      text-[1.2rem] 
                      hover:after:scale-x-100
                      hover:after:opacity-100
                      hover:bg-primary-color
                      hover:text-white
                      transition-all
                      duration-300
                      ease-in-out
                      " 
                      
                      onclick="myFunction()">Back</button>
      </div>
      </div>
    </div>
    <div class="h-[100vh]
                w-full
                fixed
                bg-[rgba(0,0,0,0.3)]
                top-0
                left-0
                z-[1000]
                hidden">
      <div class="absolute
                  flex
                  flex-col
                  justify-between
                  items-center
                  z-[1001]
                  w-[450px]
                  min-h-[380px]
                  bg-white
                  top-[45%]
                  left-[50%]
                  translate-x-[-50%]
                  translate-y-[-50%]
                  rounded-[25px]
                  px-6
                  py-10" >
          <img src="/static/images/cup.png" 
               alt="" 
               class="w-[100px]
                      ">
          <div class="text-center">
            <p class="text-[1.2rem] leading[1.4rem] font-medium text-primary select-none">Congratulations </p>
            <p class="text-[1.2rem] leading[1.4rem] font-medium text-primary select-none">You get 50 / 100 points </p>
          </div>
          <div class="flex w-full justify-between mt-6">
            <button class="outline-none
                            relative
                            text-center 
                            min-w-[160px] 
                            h-[48px] 
                            px-4 
                            bg-primary-color 
                            m-auto rounded-full 
                            text-white 
                            text-[1.1rem] 
                            transition-all 
                            duration-300 
                            ease-linear
                            after:content-['']
                            after:absolute
                            after:top-0
                            after:right-0
                            after:w-full
                            after:h-full
                            after:bg-[rgba(255,255,255,0.3)]
                            after:rounded-full
                            after:scale-x-0
                            after:transition-all
                            after:duration-300
                            after:origin-center
                            after:opacity-0
                            hover:after:scale-x-100
                            hover:after:opacity-100"  >Back to list test</button>
            <button id="info-test__btn-back"
                    class="outline-none
                          relative
                          text-center 
                          min-w-[160px] 
                          h-[48px] 
                          px-4 
                          border-[2px]
                          border-primary
                          text-primary
                          font-semibold
                          m-auto rounded-full 
                          text-[1.1rem] 
                          hover:after:scale-x-100
                          hover:after:opacity-100
                          hover:bg-primary-color 
                          hover:text-white
                          transition-all
                          duration-300
                          ease-in-out" 
                      >Close</button>
          </div>
      </div>
    </div>
  </body>
</html>
