<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Game</title>
    <link rel="stylesheet" href="./style/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
          crossorigin="anonymous" 
          referrerpolicy="no-referrer" />
          <link rel="stylesheet" href="./static/css/configForMobile.css">
    <link rel="stylesheet" href="../style/output.css" />
  </head>
  <body>
    <div id="loader" class="max-w-[1200px]
                            h-[200px]
                            bg-white
                            flex
                            justify-center
                            items-center
                            z-[10000]
                            left-0
                            relative
                            " >
      <div class="animate-spin
                  relative
                  w-[100px]
                  h-[100px]
                  bg-primary-loader
                  rounded-full
                  after:contents['']
                  after:w-[90px]
                  after:h-[90px]
                  after:bg-white
                  after:rounded-full
                  after:top-[50%]
                  after:left-[50%]
                  after:translate-x-[-50%]
                  after:translate-y-[-50%]
                  after:absolute">

      </div>                      
    </div>
  </body>
</html>
