<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style/output.css" />
    <style>
      select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}
    </style>
  </head>
  <body class="dark:bg-dark_bg">
    <header class="h-[68px] 
                   bg-primary-nav
                   fixed
                   w-full
                   z-[10000]
                   dark:bg-dark-primary-nav
                   ">
      <div
        class="flex 
              justify-center
              items-center 
              max-w-[1200px] 
              m-auto 
              h-full
              shadow-lg
              xl:justify-between 
              cursor-pointer
               "
      >
        <div class="h-[50px]  
                    items-center
                    hidden
                    xl:flex
                    "
                    >
          <img src="../static/images/logo-squid.png" 
               alt="" 
               class="h-full" />
          <h3  class="
                     text-[1.6rem]
                     font-semibold
                     text-white
                     tracking
                     select-none">QUIZGAMEs</h3>
        </div>
        <div class="flex
        items-center
        h-[36px]
        xl:w-fit w-full
        "   >
        <div class="relative  cursor-pointer group">
          <div class="flex items-center justify-center">
            <p class=" text-white text-[1.2rem]">Hello, User</p>
            <div class=" text-white ml-2">
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>
          <div class="hidden
                      absolute 
                      top-[calc(100%+19.5px)]
                      right-0 
                      xl:right-[-24px]
                      bg-white 
                      shadow-lg 
                      rounded-br-[8px] 
                      rounded-bl-[8px]
                      w-full
                      xl:w-[200px]
                      group-hover:block
                      after:absolute
                      after:contents['']
                      after:w-full
                      after:h-[20px]
                      after:bg-transparent
                      after:top-[-20px]
                      after:left-0
                      dark:bg-dark-white
                      ">
            <div class="flex
                        items-center
                        px-4 
                        py-3 
                        border-b-[1px] 
                        text-[1.1rem] 
                        hover:text-primary
                        dark:hover:text-dark_primary
                        ">
                      <p>Dark mode</p>
                      <div class="  flex
                                    items-center
                                    relative
                                    w-[50px] 
                                    h-[25px] 
                                    border-[2px] 
                                    border-gray-500
                                    rounded-full
                                    ml-3
                                    after:absolute
                                    after:w-[20px]
                                    after:h-[20px]
                                    after:rounded-full
                                    after:bg-gray-500
                                    after:translate-x-[2px]
                                    dark:border-[#2e9ce9]
                                    dark:after:bg-primary
                                    dark:after:translate-x-[calc(100%+4px)]
                                    transition-all
                                    duration-300
                                    ease-in-out

                      ">

                      
                    </div>
                    </div>
            <button class="px-4 
                           py-3
                           text-[1.1rem] 
                           hover:text-primary 
                           dark:hover:text-dark_primary
                           w-full text-left">Log out</button>
          </div>
        </div>
  
        
          
        </div>
      </div>
    </header>
    <div class="pt-[120px]
                max-w-[1200px] 
                h-8
                flex
                flex-col
                xl:flex-row
                justify-end
                items-center
                px-[50px]
                lg:px-0
                "     >
        <div class="relative flex items-center h-[36px] mr-6 ">
          <p class=" mr-4 font-normal text-[1.2rem] text-gray-400" >Level test  </p>
          <select name="" id="" class="appearance-none
                                       pr-8
                                       pl-4
                                       py-2
                                       rounded-[5px]
                                       outline-none
                                       text-primary
                                       border-[2px]
                                       border-[#2e9ce9]
                                       dark:border-dark_primary
                                       dark:text-dark_primary
                                       " >
            <option class="block
                           pr-8
                           pl-4
                           py-2
                         bg-white 
                           text-primary 
                           border-primary 
                         dark:border-dark_primary
                         dark:text-dark_primary
                            outline-none
            "value="None" selected>None</option>
            <option class="block
                           pr-8
                           pl-4
                           py-2
                         bg-white 
                           text-primary 
                           border-primary 
                           outline-none
                           dark:border-dark_primary
                         dark:text-dark_primary
                           " value="Easy">Easy</option>
            <option class="block
                           pr-8
                           pl-4
                           py-2
                         bg-white 
                           text-primary 
                           border-primary 
                           outline-none
                           dark:border-dark_primary
                         dark:text-dark_primary
                           " value="Middle">Middle</option>
            <option class="block
                           pr-8
                           pl-4
                           py-2
                         bg-white 
                           text-primary 
                           border-primary 
                           outline-none
                           dark:border-dark_primary
                         dark:text-dark_primary
                           " value="Hard">Hard</option>
          </select>
          <div class="absolute text-primary right-3 dark:text-dark_primary">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>
        <div class="flex
                    items-center
                    h-[36px]
                    "   >
          <input type="text"
                 class="appearance-none
                        w-[300px]
                        h-full
                        rounded-full
                        outline-none
                        px-4
                        py-2
                        border-gray-300 
                        border-[2px]
                      focus:border-primary
                      dark:border-dark_primary_light
                        dark:focus:border-dark_primary
                        "
                  placeholder="Search ...">
          <button class="flex
                         justify-center
                         items-center
                         h-full
                         p-3
                         ml-2
                         rounded-full
                         bg-primary
                         text-white
                         hover:bg-[#76c2f8]
                         dark:bg-dark_primary
                         dark:hover:bg-dark_primary_light
                         group">
            <i class="fa-solid fa-magnifying-glass
                       "></i>
          </button>
        </div>
    </div>
  </body>
</html>
